/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons_2 {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #000000;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: #ac1c1c;
  box-sizing: border-box;
  margin: 0em;
  font: 400 11px system-ui;
  padding: 1px 7px 2px;
  border-width: 1px;
  border-style: solid;
  /* border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(186, 186, 186); */
  
}


.features_alternative {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #3f454f;
}

.always_dark {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #000000;  /* #32363e; */
}

.always_light {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  color: #000000
}

.always_gray {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #eeedef;
  color: #000000
}

.always_gray_darker {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #efefef;
  color: #000000
}



.python_tab_color{
  color: #000000;
  font-weight: bold;
}
.python_tab_color[aria-selected='true']{
  border-bottom-color: #23b4dc;
}

.cpp_tab_color{
  color: #000000;
}
.cpp_tab_color[aria-selected='true']{
  border-bottom-color: #ea568a;
}

.matlab_tab_color{
  color: #000000;
}
.matlab_tab_color[aria-selected='true']{
  border-bottom-color: #868686;
}